.footer {
  height: calc(391px + 260px);
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
  font-weight: 500;
  &__upper {
    width: 100%;
    height: 260px;
    background-image: url("https://www.pakutaso.com/shared/img/thumb/171030ell_DSC1941_TP_V.jpg");
    background-position: center;
    background-size: cover;
     &__box {
      max-width: 750px;
      height: 260px;
      margin: 0 auto;
      color: #fff;
      justify-content: space-between;
      display: flex;
      &__left {
        p.row1 {
          font-size: 24px;
          font-weight: 600;
          margin-top: 35px;
        }
        p.row2 {
          font-size:35px;
          margin-bottom: 20px;
        }
        .footer__upper__box__logos {
          height: 68px;
          line-height: 68px;
          display: flex;
          img {
            width: 68px;
            height: 68px;
            margin-right: 20px;
            vertical-align: middle;
          }
          img.appstore-link {
            margin-right: 8px;
            width:144px;
            height: 40px;
            vertical-align: middle;
          }
          img.appstore-link:hover {
            opacity: 0.7!important;
          }
          img.googleplay-link {
            width:144px;
            height: 40px;
            vertical-align: middle;
          }
          img.googleplay-link:hover {
            opacity: 0.7;
          }
        }
        
      }
      &__right {
        display: block;
        height: 260px;
        width: 300px;
        float: right;
        img {
          height: 260px;
          width: 300px;
          display: block;
        }
      }
    }
  }


  .footer__lower {
    padding: 0 20px 10px;
    background-color: rgb(33, 33, 33);
    color: #fff;
    height: auto;
    &__links {
      max-width: 1020px;
      margin: 0 auto;
      display: flex;
      p {
        line-height: 1.4;
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }
      ul {
        list-style: none;
        padding: 0;
      li.outer-links {
        margin: 8px 0 0;
        line-height: 1.4rem;
        a {
          text-decoration: none;
          font-size: 12px;
          color: #ffffff;
          opacity: 0.7;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
      &__about {
        margin-top: 18px;
        padding-right: 40px;

        .sns-icons {
          display: flex;
          margin-top: 30px;
          a {
            text-decoration: none;
            i.fa.fa-twitter {
              content: "\f099";
              font: normal 14px/1 FontAwesome;
              color: white;
              font-size: 30px;
              font-weight: 900;
              margin-right: 20px;
              margin-top: 30px;
            }
            i.fa.fa-facebook-square {
              content: "\f082";
              font: normal 14px/1 FontAwesome;
              color: white;
              font-size: 30px;
              font-weight: 900;
              margin-top: 30px;
            }
          }
        }
      }
      &__help-guide {
        margin-top: 18px;
        padding-right: 40px;
      }

      &__privacy {
        margin-top: 18px;
        padding-right: 40px;
        &__box {
          display: flex;
        .left-side {
          padding-right: 10px;
        }
        .right-side {
          padding-left: 10px;
        }
      }
      }
      &__country {
        margin-top: 18px;
        padding-right: 40px;
      }
    }
  }
      
    
    .footer__lower__copyright {
      display: flex;
      margin: 30px auto 20px;
      width: 1020px;
      height: 33px;
      align-items: center;
      a {
        text-decoration: none;
        text-align: center;
        font-size: 25px;
        height: 40px;
        width: 124px;
      }
      a:hover {
        opacity: 0.7!important;
      }
      &__c {
        font-size: 12px;
        text-align: center;
        color: #ffffff;
        justify-content: center;
        width: 75%;
        height: 12px;
        padding-left: 15px;
      }
    }
  }