
header {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.18)0px 2px 4px;
  z-index: 3;
  height: 100px;
  width: 100%;
  font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
}

.top__header {
  max-width: 1020px;
  margin: 0 auto;
  padding-top: 8px;
  &__upper {
    width: 100%;
    display: flex;
      img {
        vertical-align: middle;
        height: 36px;
        width: 134px;
        margin-right: 45px;
      }
      form {
        height: 40px;
        width: 100%;
        position: relative;
      }
      &__search {
        background-color: rgb(245, 245, 245);
        font-size: 16px;
        height: 40px;
        line-height: 1.4em;
        position: relative;
        width: 100%;
        -webkit-appearance: none;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        outline: none;
        padding: 0px 50px 0px 10px;
        transition: all 0.3s ease-out 0s;
      }
        .search-btn {
          background-color: transparent;
          cursor: pointer;
          height: 40px;
          position: absolute;
          right: 0px;
          top: 0px;
          width: 40px;
          border-style: none;
      }
    }


    &__menu {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      font-size: 14px;
      height: 33px;
      &__left {
        margin-top: 7px;
        display: flex;
        &__category {
          margin-right: 10px;
        }
        &__brand {
          margin-left: 10px;
        }
        a {
          text-decoration: none;
          color: #333;
          font-weight: bold;
        }
        i {
          margin-right: 4px;
          color: rgb(234, 53, 45);
        }
      }
      &__right {
        display: flex;
        a {
          text-decoration: none;
          color: #333;
        }
        &__likes {
          margin: 0 14px;
          display: flex;

        }
        &__notifi {
          margin: 0 14px;
          display: flex;
        }
        &__todo {
          margin: 0 14px;
          display: flex;
        }
        &__my-page {
          margin: 0 14px;
          width: 100px;
          text-align: right;
          position: relative;
          img {
            height: 32px;
            border-radius: 50%;
            position: absolute;
            left: -8px;
            top: -5px;
          }
        }
        i {
          font-size: 18px;
          color: rgb(204, 204, 204);
          margin-right: 10px;
        }
        

        &__new-acount {
          background-color: rgb(234, 53, 45);
          display: block;
          border-width: 1px;
          color: white;
          border-style: solid;
          border-color: rgb(234, 53, 45);
          border-image: initial;
          border-radius: 4px;
          padding: 4px 8px;
        }
        &__login {
          background-color: rgb(255, 255, 255);
          color: rgb(0, 149, 238);
          display: block;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(0, 149, 238);
          border-image: initial;
          border-radius: 4px;
          padding: 4px 8px;
          transition: all 0.3s ease-out 0s;
          margin-left: 10px;
        }
      }
    }
}