@mixin awesome {
  font-weight: bold;
  display: inline-block;
  font: normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

@mixin tomato {
  color: #ea352d;
}
header.top-content {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.18)0px 2px 4px;
  position: relative;
  z-index: 3;
  height: 100px;
  .top-main {
    width: 1020px;
    margin: 0 auto;
    padding: 8px 0px 0px;
    &-face {
      display: flex;
      justify-content: space-between;
      height: 40px;
      &__logo {
        align-items: center;
        display: flex;
        height: 40px;
        margin-right: 45px;
        a.mercaribox {
          text-decoration: none;
          img{
            vertical-align: middle;
            height: 36px;
            width: 134px;
          }
        }
      }

      form.searchbox {
        position: relative;
        width: 100%;
        form.texts {
          background-color: rgb(245, 245, 245);
          font-size: 16px;
          height: 40px;
          width: 100%;
          border: 1px solid #ccc;
          border-radius: 4px;
          padding: 0px 50px 0px 10px;
          transition: all 0.3s ease-out 0s;
        }
        .sub-button {
          font-size: 100%;
          background-color: transparent;
          cursor: pointer;
          height: 40px;
          width: 40px;
          position: absolute;
          right: 0px;
          top: 0px;
          border-style: none;
          border-radius: 0px 4px 4px 0px;
          padding: 0px;
          font-family: inherit;
          
        }
      }
      i.fas.fa-search {
        content: "\f002";
        @include awesome;
      }
    }
    .top-main-leg {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      &__left {
        display: block;
        margin-left: -3px;
        ul.item-nav {
          list-style: none;
          height: 44px;
          display: flex;
          li {
            padding: 0 11px;
            cursor: not-allowed;
            display: block;
            h2 {
              font-size: 14px;
              line-height: 1.4;
              margin-block-start: 0.83em;
              margin-block-end: 0.83em;
              font-weight: bold;
              a.category {
                text-decoration: none;
                color: black;
                i.fas.fa-list {
                  content: "\f03a";
                  margin-right: 4px;
                  @include awesome;
                  @include tomato;
                }
                span {
                  vertical-align: middle;
                }
              }
              a.brand {
                text-decoration: none;
                display: block;
                color: black;
                i.fab.fa-cc-amex {
                  content: "\f1f3";
                  margin-right: 4px;
                  @include awesome;
                  @include tomato;
                }
                span {
                  vertical-align: middle;
                }
              }
            }
          }
        }
      }
      &__right {
        float: right;
        display: flex;
        ul.user-nav {
          text-decoration: none;
          display: flex;
          li.like-list {
            height: 44px;
            padding: 0px 7px;
            a.menu-link {
              align-items: center;
              display: flex;
              font-size: 14px;
              height: 32px;
              // atag{}
              color: black;
              text-decoration: none;
              i.far.fa-heart {
                content: "\f834";
                @include awesome;
                @include tomato;
              }
              span {
                vertical-align: middle;
              }
              i.far.fa-bell {
                content: "\f0f3";
                @include awesome;
                @include tomato;
              }
              .count {
              }
              i.fas.fa-check {
                content: "\f00c";
                @include awesome;
                @include tomato;
              }
              figure {
                margin: 0;
                .peace {
                  img {
                    margin-right: 10px;
                    width: 32px;
                    border-radius: 50%;
                    overflow: hidden;
                    vertical-align: middle;
                  }
                }
              }
            }
          }
        }
      }
    }
    .top-main-leg {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
      &__left {
        display: block;
        margin-left: -3px;
        ul.item-nav {
          list-style: none;
          height: 44px;
          display: flex;
          li {
            padding: 0 11px;
            cursor: not-allowed;
            display: block;
            h2 {
              font-size: 14px;
              line-height: 1.4;
              margin-block-start: 0.83em;
              margin-block-end: 0.83em;
              font-weight: bold;
              a.category {
                text-decoration: none;
                color: black;
                i.fas.fa-list {
                  content: "\f03a";
                  color: #ea352d;
                  font-size: 12px;
                  margin-right: 4px;
                  @include awesome;
                }
                span {
                  vertical-align: middle;
                }
              }
              a.brand {
                text-decoration: none;
                display: block;
                color: black;
                i.fab.fa-cc-amex {
                  content: "\f1f3";
                  color: #ea352d;
                  font-size: 12px;
                  margin-right: 4px;
                  @include awesome;
                }
                span {
                  vertical-align: middle;
                }
              }
            }
          }
          .open-brand {
            left: 0px;
            display: none;
            position: absolute;
            top: 44px;
            z-index: 1;
          }
        }
      }
      &__right {
        display: flex;
        ul.user-nav {
          list-style: none;
          margin-top: 5px;
          a {
            touch-action: manipulation;
            text-decoration: none;
          }
          li {
            display: inline-block;
            margin: 0 0 0 8px;
            a.new-acount {
              text-align: center;
              background-color: rgb(234, 53, 45);
              color: rgb(255, 255, 255);
              vertical-align: -webkit-baseline-middle;
              font-size: 14px;
              border-width: 1px;
              border-style: solid;
              border-color: rgb(234, 53, 45);
              border-image: initial;
              border-radius: 4px;
              padding: 8px 10px;
            }
            a.login-acount {
              background-color: rgb(255, 255, 255);
              color: rgb(0, 149, 238);
              vertical-align: -webkit-baseline-middle;
              font-size: 14px;
              border-width: 1px;
              border-style: solid;
              border-color: rgb(0, 149, 238);
              border-image: initial;
              border-radius: 4px;
              padding: 8px 10px;
              transition: all 0.3s ease-out 0s;
              text-decoration: none;
            }
            a.login-acount:hover {
              background-color: #0099e8;
              color: #fff;
            }
          }
        }
      }
    }
  }
}