body
  .signup-header
    .signup-header__box
      .signup-header-logo
        =link_to '' do
          =image_tag 'SVG/fmarket_logo_red.svg'
      %nav.signupBar
        %ol.signupList
          %li.signupInfo
            会員情報
            .mark
          %li.signupTell
            電話番号認証
            .mark
          %li.signupAdd
            お届け先住所入力
            .mark
          %li.signupHowToPay
            支払い方法
            .mark
          %li.signupComplete
            完了
            .mark