.body
  .signup-header
    .signup-header__box
      .signup-header-logo
        = link_to image_tag("fmarket_logo_red.svg"), root_path
      %nav.signupBar
        %ol.signupList
          %li.signupInfo.marker.marker2
            .mark-name1
              会員情報
            .marking
              .mark
              .mark-line
          %li.signupTell.marker.marker2
            .mark-name2
              電話番号認証
            .marking
              .mark
              .mark-line
          %li.signupAdd.marker.marker2
            .mark-name3
              お届け先住所入力
            .marking
              .mark
              .mark-line
          %li.signupHowToPay.marker.now-point
            .mark-name4
              支払い方法
            .marking
              .mark
              .mark-line
          %li.signupComplete
            .mark-name5
              完了
            .marking
              .mark
              .mark-line
  =render "card/new3"
  =render "devise/shared/footer-login" 
  