.item-box-container{
  height: 100%;
  width: 100%;
  background: #f5f5f5;

  
  &__item-box{
    padding: 24px 40px 40px;
    margin: 40px auto 0;
    background-color:white;
    height: 100%;
    width: 700px;

    &__item-name{
      height: 33px;
      width: 685px;
      text-align: center;
      line-height: 1.4;
      font-size: 24px;
    }
    &__item-wording{
      margin: 8px 0 0;
      font-size: 14px;
      color: #888;
      
    }
    &__item-main-content{
      height: 100%;
      width: 700px;
      margin: 16px 0px 0 0px;
      display: flex;
    
      &__item-photo{
        width: 300px;
        height: 300px;
        background-color: whitesmoke;
        
        &__top{
          background-color: whitesmoke;
          img{
            width: 300px;
            height: 300px;
          object-fit: cover;
          }
        }
        &__sub{
          display: flex;
          flex-wrap: wrap;
          margin-top: -4px;
          &__sub-1{
            img {
            height: 60px;
            width: 60px;
            }
          }
        }
      }

      &__item-detail{
        float: right;
        width: calc(700px - 330px);
        height: 420px;
        margin-left: auto;
        &__table{
          height: 60px;
          width: 350px;
          border: 1px solid #f5f5f5;
          line-height: 60px;
          display: flex;

          &__colmun-left{
            height: 60px;
            width: 40%;
            background-color: #fafafa;
            padding-left: 10px;
            font-size: 15px;
          }

          &__colmun-right{
            height: 60px;
            width: calc(350px - 40%);
            padding-left: 5px;

            a{
              font-size: 14px;
              color: #0099e8;
              text-decoration: none;
            }
          }
        }
        &__table-1{
          height: 60px;
          width: 350px;
          border: 1px solid #f5f5f5;
          line-height: 64px;
          display: flex;

          &__colmun-left-1{
            height: 60px;
            width: 40%;
            background-color: #fafafa;
            padding-left: 10px;
            font-size: 15px;
          }

          &__colmun-right-1{
            height: 60px;
            width: calc(350px - 40%);
            padding-left: 5px;
            
            a{
              font-size: 14px;
              color: #0099e8;
              text-decoration: none;
            }
          }
        }
        &__table-2{
          height: 42px;
          width: 350px;
          border: 1px solid #f5f5f5;
          line-height: 44px;
          display: flex;

          &__colmun-left-2{
            height: 42px;
            width: 40%;
            background-color: #fafafa;
            padding-left: 10px;
            font-size: 15px;
          }

          &__colmun-right-2{
            height: 42px;
            width: calc(350px - 40%);
            padding-left: 5px;
            
            a{
              font-size: 14px;
              color: #0099e8;
              text-decoration: none;
            }
          }
        }
        &__table-3{
          height: 43px;
          width: 350px;
          border: 1px solid #f5f5f5;
          line-height: 44px;
          display: flex;

          &__colmun-left-3{
            height: 43px;
            width: 40%;
            background-color: #fafafa;
            padding-left: 10px;
            font-size: 15px;
          }

          &__colmun-right-3{
            height: 43px;
            width: calc(350px - 40%);
            padding-left: 5px;
            font-size: 14px;
            color:black;
          }
        }
        &__table-4{
          height: 43px;
          width: 350px;
          border: 1px solid #f5f5f5;
          line-height: 44px;
          display: flex;

          &__colmun-left-4{
            height: 43px;
            width: 40%;
            background-color: #fafafa;
            padding-left: 10px;
            font-size: 15px;
          }

          &__colmun-right-4{
            height: 43px;
            width: calc(350px - 40%);
            padding-left: 5px;
            font-size: 14px;
            color: black;
          }
        }
        &__table-5{
          height: 43px;
          width: 350px;
          border: 1px solid #f5f5f5;
          line-height: 44px;
          display: flex;

          &__colmun-left-5{
            height: 43px;
            width: 40%;
            background-color: #fafafa;
            padding-left: 10px;
            font-size: 15px;
          }

          &__colmun-right-5{
            height: 43px;
            width: calc(350px - 40%);
            padding-left: 5px;
            font-size: 14px;
            color: black;
          }
        }
        &__table-6{
          height: 43px;
          width: 350px;
          border: 1px solid #f5f5f5;
          line-height: 44px;
          display: flex;

          &__colmun-left-6{
            height: 43px;
            width: 40%;
            background-color: #fafafa;
            padding-left: 10px;
            font-size: 15px;
          }

          &__colmun-right-6{
            height: 43px;
            width: calc(350px - 40%);
            padding-left: 5px;
            
            a{
              font-size: 14px;
              color: #0099e8;
              text-decoration: none;
            }
          }
        }
        &__table-7{
          height: 43px;
          width: 350px;
          border: 1px solid #f5f5f5;
          line-height: 44px;
          display: flex;

          &__colmun-left-7{
            height: 43px;
            width: 40%;
            background-color: #fafafa;
            padding-left: 10px;
            font-size: 15px;
          }

          &__colmun-right-7{
            height: 43px;
            width: calc(350px - 40%);
            padding-left: 5px;
            font-size: 14px;
            color: black;
          }
        }
      }
    }



    &__item-price-box{
      height: 50px;
      width: 700px;
      background-color: white;
      text-align: center;
      display: flex;
      margin-top: 25px;

      &__item-price{
        height: auto;
        width: 220px;
        font-size: 45px;
        font-weight: 600;
        margin: 0 10px 0 200px;
        }

      &__item-tax{
        font-size: 10px;
        padding-top: 40px;
        
      }
      &__item-shipping-fee{
        font-size: 16px;
        padding-top: 34px;
        margin-left: 5px;
      }
     
    }
    
    &__item-buy-btn{
      height: 60px;
      width: 700px;
      background-color: red;
      margin-top: 16px;
      text-align: center;
      font-size: 24px;
      line-height: 60px;
      font-weight: 600;
      a{
        color: #fff;
        text-decoration: none;
      }
    }

    &__item-description{
      height: 100%;
      width: 700px;
      background-color: white;
      margin: 40px;

    }
    
    &__item-button-container{
      height: 35px;
      width: 700px;
      
      &__item-button-left{
        float: left;
        height: 33px;
        width: 315px;
        
        &__iine-btn{
          height: 15px;
          width: 75px;
          padding: 8px 16px;
          border: 1px solid #f5f5f5;
          background: #f5f5f5;
          border-radius: 40px;
          
          a{
            color: #333;
            font-size: 12px;
            text-decoration: none;
          }
        }
        &__report-btn{
          height: 15px;
          width: 125px;
          border-radius: 40px;
          background: #f5f5f5;
          padding: 8px 16px;
          margin: -30px 0px 0px 130px;
          text-align: center;
          
          a{
            color: #333;
            font-size: 12px;
            text-decoration: none;
            
          }
        }
      }
      &__item-button-right{
        margin: 8px 0 0;
        float: right;
        height: 25px;
        width: 180px;
        
        a{
          color: #0099e8;
          font-size: 12px;
          text-decoration: none;
        }
      }
    }
  }
 
  &__item-detail-message{
    width: 700px;
    margin: 8px auto;

    &__message-container{
      padding: 24px;
      height: 230px;
      background:white;
      
      &__for-user-message{
        padding: 8px;
        font-size: 14px;
        background: #fff6de; 
      }
      &__comment-box{
        margin: 8px 0 0;
        display: block;
        width: 100%;
        max-width: 100%;
        min-height: 104px;
        // padding: 10px;
        border: 1px solid #ccc;
        background: #fff;
        font-size: 16px;
        line-height: 1.5;
      }
      &__comment-button{
        width: 100%;
        margin: 8px 0 0;
        text-align: center;
        background: #aaa;
        border: 1px solid #aaa;
        

        a{
          color: #fff;
          text-decoration: none;
          line-height: 48px;
        }
      }
    }
  }
  &__item-nav{
    margin: 24px auto 0;
    width: 700px;
    height: 30px;
    
    &__link-prev{
      float: left;
      width: 300px;
      height: 30px;
      padding: 0 0 0 14px;
      margin-top: -10px;
      a{
        font-size: 13px;
        color: #0099e8;
        text-decoration: none;
      }
    }
    &__link-next{
      float: right;
      padding: 0 14px 0 0;
      text-align: right;
      width: 300px;
      height: 30px; 
      margin-top: -10px;
      a{
        font-size: 13px;
        color: #0099e8;
        text-decoration: none;
        
      }
    }
  }
  &__sns-box{
    margin: 0px auto;
    padding: 30px 0 24px;
    width: 700px;
    height: 90px;
    background: #fff;
    
    &__icon-box{
      margin: 30px 0 0;
      height: 44px;
      width: 700px;
      
      display: flex;
      &__icon1{
        height: 44px;
        width: 44px;
        background-color: #385185;
        margin-left: 35%;
        
      }
      &__icon2{
        height: 44px;
        width: 44px;
        background-color: #0099e8;
        margin-bottom: 60px;
        margin-left: 10px;
      }
       &__icon3{
         height: 44px;
         width: 44px;
         background-color: #00c137;
         margin-left: 10px;
       }
       &__icon4{
         height: 44px;
         width: 44px;
         background-color: #AA262A;
         margin-left: 10px;
       }
     }  
    }
  &__items-user-profile{
    width: 700px;
    height: 100%;
    margin: 0 auto;
    margin-top: 35px;
    
    &__user-items-container{
      width: 700px;
      height: 100%;
      margin: 0 auto;
      

      &__items-box-head{
        width: 700px;
        height: 40px;
        margin: 24px 0 8px;
        
        &__other{
          
          a{
            color: #0099e8;
            font-size: 22px;
            padding: 5px;
            text-decoration: none;
          }
        }
      }
      &__items-box-content{
        width: 710px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        flex-direction: row;

        &__items-box{
          width: 220px;
          height: 330px;
          margin: 8px;
          
          &__photo{
            width: 220px;
            height: 220px;
            
            a{
              color: #333;
              font-size: 12px;
              text-decoration: none;
              
            }
          }
          &__body{
            padding: 16px;
            height: 80px;
            background-color: white;
            
            &__items-box-name{
              width: 188px;
              height: 48px;
              
              a{
                color: #333;
                font-size: 16px;
                text-decoration: none;
                font-weight: 400;    
              }
            }
            &__items-box-num{
              display: flex;
              
              &__items-box-price{
                width: 45px;
                height: 16px;
                
                a{
                  color: #333;
                  font-size: 16px;
                  font-weight: 400;
                  text-decoration: none;
                }
              }
              &__items-box-like{
                margin-left: 110px;
                
                a{
                  color: #333;
                  font-size: 16px;
                  font-weight: 400;
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }

  &__bread-crumbs-content{
    width: 700px;
    height: 30px;
    margin-top: 60px;
    padding: 16px 0px;
    display: flex;
    
    &__mercari-btn{
      height: 18px;
      width: 66px;
      margin-top: -5px;
      a{
        color: #333333;
        font-size: 14px;
        text-decoration: none;
      }
    }
    &__brand-btn{
      font-weight: 600;
      font-size: 14px;
      line-height: 1.2;
      padding-left: 10px;
    }
  }
}