.item-box-container__edit-delite-container
  .item-box-container__edit-delite-container__box
    = link_to edit_item_path , class: 'edit-btn' do
      .item-box-container__edit-delite-container__box__edit-btn
        商品の編集
    %p
      or
    = link_to '#' , class: 'restart-btn' do
      .item-box-container__edit-delite-container__box__restart-btn
        出品を再開する
    = link_to "#",method: :delete ,class: 'delite-btn' do
      .item-box-container__edit-delite-container__box__delite-btn
        この商品を削除する

