.item-box-container
  
  -# = render 'layouts/header'

  .item-box-container__item-box
    .item-box-container__item-box__item-name
      トークハット
    .item-box-container__item-box__item-wording
      『トークハット』は、482回の取引実績を持つKANNA❥プロフ必読！さんから出品されました。エイミーイストワール（ハンチング/ベレー帽/レディース）の商品で、北海道から1~2日で発送されます。
    .item-box-container__item-box__item-main-content
      .item-box-container__item-box__item-main-content__item-photo
      .item-box-container__item-box__item-main-content__item-detail
        .item-box-container__item-box__item-main-content__item-detail__table
          .item-box-container__item-box__item-main-content__item-detail__table__colmun-left
            出品者
          .item-box-container__item-box__item-main-content__item-detail__table__colmun-right
            小林拓矢
        .item-box-container__item-box__item-main-content__item-detail__table-1
          .item-box-container__item-box__item-main-content__item-detail__table-1__colmun-left-1
            カテゴリー 
          .item-box-container__item-box__item-main-content__item-detail__table-1__colmun-right-1
            レディース
        .item-box-container__item-box__item-main-content__item-detail__table-2
          .item-box-container__item-box__item-main-content__item-detail__table-2__colmun-left-2
            ブランド 
          .item-box-container__item-box__item-main-content__item-detail__table-2__colmun-right-2
            NIKE
        .item-box-container__item-box__item-main-content__item-detail__table-3
          .item-box-container__item-box__item-main-content__item-detail__table-3__colmun-left-3
            商品の状態 
          .item-box-container__item-box__item-main-content__item-detail__table-3__colmun-right-3
            新品、未使用
        .item-box-container__item-box__item-main-content__item-detail__table-4
          .item-box-container__item-box__item-main-content__item-detail__table-4__colmun-left-4
            配送料の負担 
          .item-box-container__item-box__item-main-content__item-detail__table-4__colmun-right-4
            送料込み(出品者負担)
        .item-box-container__item-box__item-main-content__item-detail__table-5
          .item-box-container__item-box__item-main-content__item-detail__table-5__colmun-left-5
            配送の方法 
          .item-box-container__item-box__item-main-content__item-detail__table-5__colmun-right-5
            普通郵便(定型、定形外)
        .item-box-container__item-box__item-main-content__item-detail__table-6
          .item-box-container__item-box__item-main-content__item-detail__table-6__colmun-left-6
            配送元地域 
          .item-box-container__item-box__item-main-content__item-detail__table-6__colmun-right-6
            東京都
        .item-box-container__item-box__item-main-content__item-detail__table-7
          .item-box-container__item-box__item-main-content__item-detail__table-7__colmun-left-7
            発送の目安 
          .item-box-container__item-box__item-main-content__item-detail__table-7__colmun-right-7
            2~3日で発送

    .item-box-container__item-box__item-price-box
      .item-box-container__item-box__item-price-box__item-price
        ¥10,000
      .item-box-container__item-box__item-price-box__item-tax
        (税込み)
      .item-box-container__item-box__item-price-box__item-shipping-fee
        送料込み
    
    .item-box-container__item-box__item-buy-btn
      購入画面に進む
    .item-box-container__item-box__item-description
      商品説明
    .item-box-container__item-box__item-button-container
      .item-box-container__item-box__item-button-container__item-button-left
        .item-box-container__item-box__item-button-container__item-button-left__iine-btn
          ♡いいね！1
        .item-box-container__item-box__item-button-container__item-button-left__report-btn
          不適切な商品の報告
      .item-box-container__item-box__item-button-container__item-button-right
        あんしん・あんぜんへの取り組み
  
  .item-box-container__item-detail-message
    .item-box-container__item-detail-message__message-container
      .item-box-container__item-detail-message__message-container__for-user-message
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .item-box-container__item-detail-message__message-container__comment-box
      .item-box-container__item-detail-message__message-container__comment-button
        コメントする
  
  .item-box-container__item-nav
    .item-box-container__item-nav__link-prev
      < ニット
    .item-box-container__item-nav__link-next
      シューズ >
  
  .item-box-container__sns-box
    .item-box-container__sns-box__icon-box
      .item-box-container__sns-box__icon-box__icon1
      .item-box-container__sns-box__icon-box__icon2
      .item-box-container__sns-box__icon-box__icon3
      .item-box-container__sns-box__icon-box__icon4
    
  .item-box-container__items-user-profile 
    .item-box-container__items-user-profile__user-items-container
      .item-box-container__items-user-profile__user-items-container__items-box-head
        .item-box-container__items-user-profile__user-items-container__items-box-head__other
          ○○さんのその他の商品
      .item-box-container__items-user-profile__user-items-container__items-box-content
        .item-box-container__items-user-profile__user-items-container__items-box-content__items-box
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box__photo
            商品写真
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box__body
            商品名、プライス
        .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-1
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-1__photo-1
            商品写真1
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-1__body-1
            商品名、プライス1
        .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-2
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-2__photo-2
            商品写真2
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-2__body-2
            商品名、プライス2
        .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-3
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-3__photo-3
            商品写真3
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-3__body-3
            商品名、プライス3
        .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-4
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-4__photo-4
            商品写真4
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-4__body-4
            商品名、プライス4
        .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-5
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-5__photo-5
            商品写真5
          .item-box-container__items-user-profile__user-items-container__items-box-content__items-box-5__body-5
            商品名、プライス5
    .item-box-container__items-user-profile__blands-items-container
      .item-box-container__items-user-profile__blands-items-container__blands-box-head
        .item-box-container__items-user-profile__blands-items-container__blands-box-head__blands-other
          ブランドのその他の商品
      .item-box-container__items-user-profile__blands-items-container__blands-items-box-content
        .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box__blands-photo
            商品写真
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box__blands-body
            商品名、プライス
        .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-1
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-1__blands-photo-1
            商品写真1
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-1__blands-body-1
            商品名、プライス1
        .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-2
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-2__blands-photo-2
            商品写真2
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-2__blands-body-2
            商品名、プライス2
        .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-3
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-3__blands-photo-3
            商品写真3
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-3__blands-body-3
            商品名、プライス3
        .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-4
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-4__blands-photo-4
            商品写真4
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-4__blands-body-4
            商品名、プライス4
        .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-5
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-5__blands-photo-5
            商品写真5
          .item-box-container__items-user-profile__blands-items-container__blands-items-box-content__blands-items-box-5__blands-body-5
            商品名、プライス5
    .item-box-container__bread-crumbs-content
      .item-box-container__bread-crumbs-content__mercari-btn
        メルカリ>
      .item-box-container__bread-crumbs-content__brand-btn
        ニット　セーター　NIKE
  
  = render "layouts/footer"