.item-box-container
  .item-box-container__item-box
    .item-box-container__item-box__item-name
      トークハット
    .item-box-container__item-box__item-wording
      『トークハット』は、482回の取引実績を持つKANNA❥プロフ必読！さんから出品されました。エイミーイストワール（ハンチング/ベレー帽/レディース）の商品で、北海道から1~2日で発送されます。
    .item-box-container__item-box__item-main-content
      .item-box-container__item-box__item-main-content__item-photo
      .item-box-container__item-box__item-main-content__item-detail
    .item-box-container__item-box__item-price-box
      ¥10,000
    .item-box-container__item-box__item-buy-btn
      購入画面に進む
    .item-box-container__item-box__item-description
      商品説明
    .item-box-comtainer__item-box__item-button-container