.sidebar-body{
  float: left;
  padding-left: 40px;
  position: relative;
  background: #f5f5f5;
  font-size: 14px;
  color: #333;
  line-height: 1;
  .side-bar-box{
    position:relative;
    border-top: 1px solid #eee;
    width: 280px;
    margin: 0 40px 0 0;
    ul.sidebar-list-1{
      display: block;
      .side-link-text{
        text-decoration: none;
        color: black;
      }
      li{
        border-bottom:solid 1px #EEEEEE;
        position: relative;
        display: flex;
        min-height: 28px;
        padding: 16px;
        background: #fff;
        font-size: 14px;
        color: #333;
        line-height: 28px;
      }
      li:hover{
        background-color: #f5f5ff;
        .icon{
          color:black;
          left: 257px;
          transition: 0.5s ;
        }
      }
      li:active{
        background-color: #dddddd;
        font-weight: 600;
      }
    }
  h3{
    margin: 40px 0 8px;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
  }
  .icon{
    display: block;
    color: #dddddd;
    width:20px;
    position: absolute;
    left: 250px;
  }
  }
}

@media screen and (max-width:1100px){
  .sidebar-body{
  display: none;
  }
}