.profile-main{
  background: #f5f5f5;
  padding-top: 80px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  .both-content{
    display:inline-block;
    position: relative;
    .profile-main__contents{
      width: 700px;
      float:right;
      padding: 40px 16px;
      background-image: url("my-page-背景.png");
      background-color: #fff;
      &__head{
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding: 8px 0 8px;
      }
    .setting-profile-icon{
      background-color: whitesmoke;
      padding: 72px 0 24px;
      text-align: center;
      .wrapper{
        width: 100%;
        display: inline-flex;
        justify-content: center;
        background-color: whitesmoke;
        .icon-image{
          .prof-photo{
            border-radius: 50%;
          }
        }
        .input-default{
          width: 220px;
          margin: 0 0 0 8px;
          vertical-align: middle;
          height: 32px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          margin-top:5px
        }
      }
    }
    .profile-content{
      padding: 40px 16px 40px;
      .textarea-default{
        padding: 10px;
        border: 1px solid #ccc;
        height: 216px;
        width: 643px;
        background: #fff;
        font-size: 16px;
    }
    .button{
      @include submit-btn-long;
    }
    }
    }
  }
}
@media screen and (max-width:1100px){
  .profile-main{
    text-align: center;
  }
}