@media screen and (min-width: 768px){
  .body{
    background: #F5F5F5;
    font-size: 14px;
    color: #333;
    line-height: 1;
    width: 100%;
    height: 100%;
    .header{
      height: 130px;
      .header-logo{
        margin: 0 auto;
        width:182px;
        padding: 40px 0 0;
        cursor: pointer;
      }
      .header-logo:hover{
        opacity: 0.7;
      }
    }
    .container {
      width: 100%;
      .login-panel {
        height: 731px;
        width: 456px;
        margin: 0 auto;
        background-color: #fff;
        .register {
          height: 64px;
          text-align: center;
          padding: 40px 64px;
          border-bottom: 1px solid #eee;
          &:after {
            border-style: solid;
            border-width: 0;
          }
          .no-account {
            font-size: 14px;
            text-align: center;
            width: 328px;
            line-height: 14px;
            height: 14px;
          }
          a.signup-btn {
            display: block;
            border: 1px solid #0099e8;
            background-color: #0099e8;
            height: 40px;
            width: 328px;
            min-width: 328px;
            line-height: 40px;
            margin: 8px 0 0;
            font-size: 14px;
            color: #fff;
            text-decoration: none;
          }
        }
        .social-login {
          height: 116px;
          padding: 32px 64px;
          .facebook {
            height: 50px;
            width: 328px;
            min-width: 328px;
            color: #fff;
            background-color: #385185;
            &-logo {
              height: 30px;
              width: 30px;
              color: #fff;
              margin-left: 5px;
              float: left;
              margin-top: 7px;
            }
            .fb-login {
              color: #fff;
              text-align: center;
              font-size: 13px;
              line-height: 45px;
              text-decoration: none;
            }
            a {
              text-decoration: none;
            }
          }
          .google {
            height: 50px;
            width: 328px;
            min-width: 328px;
            margin: 16px 0 0;
            border: 1px solid #979797;
            color: #333;
            &-logo {
              height: 20px;
              width: 20px;
              float: left;
              margin-left: 10px;
              color: firebrick;
            }
            .ggl-login {
              color: black;
              text-align: center;
              font-size: 13px;
              text-decoration: none;
            }
            a {
              text-decoration: none;
            }
          }
        }
        .login-form {
          padding:24px 64px 32px;
          text-align: center;
          height: 350px;
          .form {
            height: 48px;
            width: 328px;
            margin-bottom: 24px;
            input {
              height: 48px;
              width: 318px;
              font-size: 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              line-height: 1.5;
              background-color: #fff;
              padding-left: 10px;
            }
          }
          .recaptcha {
            width: 304px;
            height: 78px;
            border-radius: 2px;
            float: left;
            .left-side {
              float: left;
              display: flex;
              margin-top: 15px;
              .robot-check {
                width: 30px;
              }
              .im-not-a-robot {
                font-size: 15px;
                text-align: left;
                width: 150px;
              }
            }
            .right-side {
              margin-top: 5px;
              .robot-logo {
                height: 40px;
                width: 40px;
                text-align: right;
                color: lightseagreen;
                margin-left: 40px;
              }
              .logo-name {
                color: #333;
                font-size: 10px;
                margin-left: 210px;
              }
              .links {
                display: flex;
                font-size: smaller;
                margin-right: 2px;
                margin-left: 180px;
                .link {
                  text-decoration: none;
                  color: #333;
                }
              }
            }
          }
          input.submit {
            width: 328px;
            height: 50px;
            background: #ea352d;
            color: #fff;
            border: 1px solid #ea352d;
            margin: 24px 0 40px;
            font-size: 14px;
            cursor: pointer;
          }
          input.email-address{
            margin-bottom: 24px;
          }
          .forgot-password {
            float: left;
            .resetting {
              color: #0099e8;
              text-decoration: none;
            }
            .resetting:hover {
              text-decoration: underline;
              opacity: 0.7;
            }
          }
        }
      }
    }
    .body-foot{
      margin:120px auto 0;
      padding: 40px 0;
      position: relative;
      .footer{
        font-size:12px;
        height: 170px;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
        .text-box{
          height: 170px;
          .footer-text{
            position: relative;
            bottom: 40px;
            &__box{
              width: 380px;
              margin:0 auto;
              a:-webkit-any-link{
                text-decoration: none;
                color: black;
                opacity: 0.7;
              }
              a:hover{
                color: #AAAAAA;
                border-bottom:solid 1px #AAAAAA;
              }
              .text-in{
                display:flex;
                margin: 0 auto;
                .text{
                  padding: 40px 5px;
                }
              }
            }
          }
          .logo-box{
            position: relative;
            bottom: 40px;
            .footer-logo{
              margin: 0 auto;
              max-width: 50%;
              width: 80px;
              cursor: pointer;
              position: relative;
            }
            .footer-logo:hover{
              opacity: 0.7;
            }
          }
          .logo-content{
            text-align: center;
            margin: 0 auto;
            position: relative;
            bottom: 40px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px){
  .body{
    background: #F5F5F5;
    font-size: 14px;
    color: #333;
    line-height: 1;
    overflow: scroll;
    .header{
      height: 56px;
      .header-logo{
        margin: 0 auto;
        width:120px;
        height: 33px;
        cursor: pointer;
        margin: 0 auto;
        position: relative;
        top:11.5px;
      }
      .header-logo:hover{
        opacity: 0.7;
      }
    }
    .container {
      width: 100%;
      .login-panel {
        height: 731px;
        width: 456px;
        margin: 0 auto;
        background-color: #fff;
        .register {
          height: 64px;
          text-align: center;
          padding: 40px 64px;
          border-bottom: 1px solid #eee;
          &:after {
            border-style: solid;
            border-width: 0;
          }
          .no-account {
            font-size: 14px;
            text-align: center;
            width: 328px;
            line-height: 14px;
            height: 14px;
          }
          button.signup-btn {
            border: 1px solid #0099e8;
            background-color: #0099e8;
            height: 40px;
            width: 328px;
            min-width: 328px;
            line-height: 40px;
            margin: 8px 0 0;
            font-size: 14px;
            color: #fff;
          }
        }
        .social-login {
          height: 116px;
          padding: 32px 64px;
          .facebook {
            height: 50px;
            width: 328px;
            min-width: 328px;
            color: #fff;
            background-color: #385185;
            &-logo {
              height: 30px;
              width: 30px;
              color: #fff;
              margin-left: 5px;
              float: left;
              margin-top: 7px;
            }
            .fb-login {
              color: #fff;
              text-align: center;
              font-size: 13px;
              line-height: 45px;
            }
          }
          .google {
            height: 50px;
            width: 328px;
            min-width: 328px;
            margin: 16px 0 0;
            border: 1px solid #979797;
            color: #333;
            &-logo {
              height: 20px;
              width: 20px;
              float: left;
              margin-left: 10px;
              color: firebrick;
            }
            .ggl-login {
              text-align: center;
              font-size: 13px;
            }
          }
        }
        .login-form {
          padding:24px 64px 32px;
          text-align: center;
          height: 350px;
          .form {
            height: 48px;
            width: 328px;
            margin-bottom: 24px;
            input {
              height: 48px;
              width: 318px;
              font-size: 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              line-height: 1.5;
              background-color: #fff;
              padding-left: 10px;
            }
          }
          .submit {
            width: 328px;
            height: 50px;
            background: #ea352d;
            color: #fff;
            border: 1px solid #ea352d;
            margin: 24px 0 40px;
            font-size: 14px;
          }
          .forgot-password {
            float: left;
            .resetting {
              color: #0099e8;
              text-decoration: none;
            }
            .resetting:hover {
              text-decoration: underline;
              opacity: 0.7;
            }
          }
        }
      }
    }
    .body-foot{
      margin:108px auto 0;
      width: 700px;
      max-width: 50%;
      height: 170px;
      padding: 40px 0;
      position: relative;
      .footer{
        font-size:12px;
        height: 170px;
        align-items: center;
        justify-content: center;
        position: relative;
        .text-box{
          height: 170px;
          .footer-text{
            text-align: center;
            &__box{
              a:-webkit-any-link{
                text-decoration: none;
                color: black;
                opacity: 0.7;
              }
              a:hover{
                color: #AAAAAA;
                border-bottom:solid 1px #AAAAAA;
              }
              .text-in{
                margin: 0 auto;
                .text{
                  margin: 16px 5px 0;
                }
              }
            }
          }
          .logo-box{
            position: relative;
            .footer-logo{
              margin: 40px auto 0;
              max-width: 50%;
              width: 80px;
              cursor: pointer;
              position: relative;
            }
            .footer-logo:hover{
              opacity: 0.7;
            }
          }
          .logo-content{
            text-align: center;
            margin: 0 auto;
            position: relative;
          }
        }
      }
    }
  }
}