@media screen and (min-width: 768px){

  .z{
    overflow: scroll;
    height: auto;
    background: #f5f5f5;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    .main{
      background-color: #f5f5f5;
      font-family: 'Source Sans Pro', Helvetica , Arial, 'æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“', 'YuGothic', 'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
      font-size: 14px;
      min-height: 384;
        .main-box{
          margin:0 auto 55px;
          max-width:700px;
          width:700px;
          background-color: white;
          height:384px;
          .main-box-block{
            text-align: center;
            .main-top-text{
              line-height: 95px;
              border-bottom:solid 1px #f5f5f5;
              font-size: 22px;
              margin: 0 0 40px;
              font-weight: bold;
              opacity: 0.75;
              min-width: 100%;
            }
            .main-bottom{
              .main-bottom-box{
                margin: 0 auto;
                width: 50%;
                padding: 0 40px 64px;
              ul.main-bottom-box__textBox-mail{
                line-height:50px;
                
                display: flex;
                max-width: 343px;
                a:-webkit-any-link{
                  display: flex;
                  margin: 0 auto;
                  text-decoration: none ;
                  width:343px;
                  color: white;
                  background-color: #ea352d;
                  border-radius: 4px;

                  li.text{
                    margin: 0 auto;
                  }
                  i{
                    position: relative;
                    line-height: 50px;
                    left: 25px;
                    font-size:1.3em;
                    
                  }
                  
                }
              }
              ul.main-bottom-box__textBox-mail:hover{
                opacity:0.7;
                transition: 0.5s;
              }
                  ul.main-bottom-box__textBox-facebook{
                    margin: 16px auto 0;
                    
                    line-height:50px;
                    a:-webkit-any-link{
                      display: flex;
                      color: white;
                      text-decoration: none ;
                      width:343px;
                      background: #385185;
                      border-radius: 4px;
                      margin: 0 auto;
                      i{
                        position: relative;
                        left: 25px;
                        font-size:26px;
                        line-height:50px;
                      }
                      li.text{
                        margin: 0 auto;
                        position: relative;
                        right:10px
                      }
                    }
                  }
              
              ul.main-bottom-box__textBox-google{
                margin: 16px auto;
                text-align: center;
                height: 50px;
                
                color: #333;
                max-width: 343px;
                a:-webkit-any-link{
                  display: flex;
                  color: black;
                  opacity: 0.8;
                  text-decoration: none ;
                  width:343px;
                  border-radius: 4px;
                  border: #979797 solid 1px;
                  line-height:48px;
                  margin: 0 auto;
                  i{
                    position: relative;
                    left: 25px;
                    font-size:1.3em;
                    line-height:50px;
                  }
                  li.text{
                    margin: 0 auto;
                  }
                }
              }
              }
            }
          }
        }
    }
  }
  ul{
    // display: flex;
    min-width: 100%;
  }
  li.text{
    position: relative;
    right:10px;
    text-align: center;
  }
}


